
<div class="mt-4">
<form action="/product/store" method="post" style="width: 60%;">
<h1 class="text-center">Create Product</h1> 
<div class="form-group">
    <label for="ProductCode">Code</label>
    <input type="text" class="form-control" id="ProductCode" name="ProductCode" placeholder="Enter name" required> 
  </div>
  <div class="form-group">
    <label for="ProductName">ProductName</label>
    <input type="text" class="form-control" id="ProductName" name="ProductName" placeholder="Enter name" required> 
  </div>
  <div class="form-group">
    <label for="Information">Information</label>
    <input type="text" class="form-control" id="Information" name="Information" placeholder="Enter Information" required> 
  </div>
  <div class="form-group">
    <label for="ImgLink">ImgLink</label>
    <input type="text" class="form-control" id="ImgLink" name="ImgLink" placeholder="Enter ImgLink" required> 
  </div>
  <div class="form-group">
    <label for="Price">Price</label>
    <input type="text" class="form-control" id="Price" name="Price" placeholder="Enter Price" required> 
  </div>
  <div class="form-group">
    <label for="Unit">Unit</label>
    <input type="text" class="form-control" id="Unit" name="Unit" placeholder="Enter Unit" required> 
  </div>
  <input id="create-btn" type="submit" class="btn btn-secondary" value="Create" style="width: 100%;">
</div>

